<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/enroll.css">
    <script src="js/enrollment.js"></script>
    <title>Enrollment</title>
    <%- include("header.ejs") %>
</head>
<body>
    <div class="container">
        <h1>Please fill data in the form below:</h1>
        <hr>

        <form method="POST" >
            <div id="subscriberInfo">
            <label>SubscriberId:<input type="text" name="subscriberId" required></label><br>
            <br>
            <label>FirstName:<input type="text" name="firstname" required></label><br>
            <br>
            <label>LastName:<input type="text" name="lastname" required></label><br>
            <br>
            <label>Street:<input type="text" name="street"></label><br>
            <br>
            <label>City:<input type="text" name="city" required></label><br>
            <br>
            <label>State:<input type="text" name="state" required></label><br>
            <br>
            <label>Country:<input type="text" name="country" required></label><br>
            <br>
            <label>Email:<input type="text" name="email" required></label><br>
            <br>
            <label>Password:<input type="text" name="password" required></label><br>
            <br>
            <label>Date of Birth:<input type="date" name="dateofbirth" required></label><br>
            <br>
            <% if(data) { %>
            <label for="policy">Choose a Policy:</label><br>
            <% data.forEach(function(item){ %>
            <input type="radio" id="<%= item.policyId%>" name="policy" value="<%= item.policyId%>">
            <label for="<%= item.policyId%>"><%= item.policyName%></label><br>
            <% }) %>
            <% } %>
            <button class="btn" id="next-btn" onclick="onNextClicked">Next</button>
        </div>
        <div id="dependentInfo" class="d-none">
            <label>Dependent Id:<input type="text" name="dependentId" ></label><br>
            <br>
            <label>Dependent FirstName:<input type="text" name="dependentfirstname" ></label><br>
            <br>
            <label>Dependent LastName:<input type="text" name="dependentlastname" ></label><br>
            <br>
            <label>Street:<input type="text" name="dependentstreet"></label><br>
            <br>
            <label>City:<input type="text" name="dependentcity" ></label><br>
            <br>
            <label>State:<input type="text" name="dependentstate" ></label><br>
            <br>
            <label>Country:<input type="text" name="dependentcountry" ></label><br>
            <br>
            <label>Email:<input type="text" name="dependentemail" ></label><br>
            <br>
            <label>Password:<input type="text" name="dependentpassword" ></label><br>
            <br>
            <label>Date of Birth:<input type="date" name="dependentdateofbirth" ></label><br>
            <br>
            
            <button class="btn" id="next-btn" onclick="onPreviousClick">Previous</button>
        </div>
            <button type="submit"  class="registerbtn">Add Dependent</button>
        </form>
    </div>
</body>
</html>